#titulo-celular {
    margin-top: 0px;
    display: none;
}

#ret {
    display: flex;
    justify-content: center;
    background: #faf8f8;
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0%;
    font-family: 'Zen Kaku Gothic Antique';
}

#canais {
    position: absolute;
    margin-left: 7%;

}

#idioma {
    position: absolute;
    margin-left: 12%;
    margin-top: 10px;
    left: 140px;
}

.idioma {
    position: absolute;
    margin-top: -08px;
    left: -5px;
}

#circulo {
    position: absolute;
    /* right: 245px; */
    margin-top: -13px;
    /* margin-left: 2%; */
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 3px solid grey;
}

.pessoa {
    width: 42px;
    height: 35px;
    position: absolute;
    right: 200px;
    margin-top: 10px;
}

.aces {
    position: absolute;
    right: 180px;
    margin-top: 42px;
}

.busq {
    margin-top: 30px;
}


.icone.lupa {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    margin-top: 10px;
    /* right: -280px; */
    margin-right: -70%;
}

.icone.lupa:after {
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: black;
    display: block;
    content: "";
    top: 30%;
    left: 50%;
    transform: rotate(45deg);
    transform-origin: -10px 15px;
}

#linha1 {
    width: 20px;
    border: 1px solid #000;
    margin-top: 16px;
    position: relative;
    right: -0.9em;
}

#linha2 {
    margin-top: 6px;
    width: 20px;
    border: 1px solid #000;
    position: relative;
    right: -0.9em;
}

#linha3 {
    width: 20px;
    border: 1px solid #000;
    position: relative;
    right: -0.9em;
    margin-top: 6px;
}

@media screen and (max-width:800px) {
    #lupis1 {
        position: absolute;
        right: 9% !important;
    }

    .cagf1 {
        position: absolute;
        left: 5px;
    }

    .letra2 {
        font-size: 22px;
    }

    .acessibilidade-cel {
        display: flex;
        justify-content: center;
    }


    main {
        height: 300px;
    }

    .acessCel {
        background-color: #b32323;
        height: 55px;
        width: 55px;
        -webkit-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
    }



    #canais {
        position: absolute;
        left: 40px;
        margin-top: 10px;
    }

    .canais {
        position: absolute;
        margin-top: -06px;
        left: -5px;
    }

    .cabecalho-celular {
        color: white;
        height: 30px;
        background-color: #c7bfbf;
    }

    #titulo-celular {
        display: flex;
    }


    .letra {
        font-size: 40px;
    }
}

@media screen and (max-width:650px) {
    #idioma {

        margin-left: 10%;
        left: 120px;
    }

    .pessoa {
        right: 180px;
    }

    .aces {
        right: 160px;
    }



}

@media(max-width:580px) {

    #canais {
        margin-left: 3%;
    }

    #idioma {
        margin-left: 8%;
        left: 120px;
    }

    .pessoa {
        right: 160px;
    }

    .aces {
        right: 140px;
    }

    .icone.lupa {
        margin-right: -75%;
    }
}

@media(max-width:560px) {

    .pessoa {
        right: 140px;
    }

    .aces {
        right: 120px;
    }

}

@media(max-width:500px) {
    .aces {
        right: 110px;
    }

    #idioma {
        margin-left: 5%;
    }
}

@media(max-width:450px) {
    #canais {
        margin-left: 1%;
    }

    #idioma {
        margin-left: 3%;
        left: 120px;
    }

    .pessoa {
        right: 110px;
    }

    .aces {
        right: 90px;
    }
}

@media(max-width:420px) {
    #canais {
        margin-left: 1%;
    }

    #idioma {
        margin-left: 1%;
        left: 120px;
    }

    .pessoa {
        right: 100px;
    }

    .aces {
        right: 70px;
    }
}


@media(max-width:400px) {
    #idioma {
        margin-left: -1%;
    }
}

@media(max-width:380px) {
    #idioma {
        margin-left: -3%;
    }
}

@media(max-width:360px) {
    #canais {
        margin-left: -3%;
    }

    #idioma {
        margin-left: -6%;
    }

    .pessoa {
        right: 80px;
    }

    .aces {
        right: 60px;
    }
}

@media(max-width:330px) {
    #idioma {
        margin-left: -9%;
    }
}